
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
@{
    var obj = new Web.Entity.Dto.UserSite.DisplayParamters();
    var param = obj.GetParameters();
    var link = obj.GetMenuLink();
}
<!-- Start Banner Hero -->
<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-5 text-primary typo-space-line">@param.AboutUs</h1>
                <p class="light-300">
                  
                </p>
            </div>
            <div class="col-lg-6">
                <img src="~/front-end/img/banner-img-02.svg">
            </div>
        </div>
    </div>
</section>
<!-- End Banner Hero -->
<!-- Start Team Member -->
<section class="container py-5">
    
</section>
<!-- End Team Member -->

<!-- Start Choice -->
<section class="why-us banner-bg bg-light">
    <div class="container my-4">
        <div class="row">
            <div class="banner-img col-lg-5">
                <img src="./assets/img/work.svg" class="rounded img-fluid" alt="">
            </div>
            <div class="banner-content col-lg-7 align-self-end">
                <h2 class="h2 pb-3">Why you choose us?</h2>
                <p class="text-muted pb-5 light-300">
                    You are allowed to download and use this Purple Buzz template for your websites. You are <strong>not allowed</strong> to re-distribute this template ZIP file on other template websites. It is quite easy to simply copy and repost the ZIP file on any <a rel="nofollow" href="https://www.google.com/search?q=free+css" target="_blank">Free CSS collection</a> websites.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Choice -->

<!-- Start Aim -->
<section class="banner-bg bg-white py-5">
    <div class="container my-4">
        <div class="row text-center">

            <div class="objective col-lg-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class="display-4 bx bxs-bulb text-light"></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Our Vision</h2>
                <p class="light-300">
                    Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.
                </p>
            </div>

            <div class="objective col-lg-4 mt-sm-0 mt-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class='display-4 bx bx-revision text-light'></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Our Mission</h2>
                <p class="light-300">
                    Eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam quis.
                </p>
            </div>

            <div class="objective col-lg-4 mt-sm-0 mt-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class="display-4 bx bxs-select-multiple text-light"></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Our Goal</h2>
                <p class="light-300">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor.
                </p>
            </div>

        </div>
    </div>
</section>
<!-- End Aim -->
<!-- Start Contact -->
<section class="banner-bg bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto my-4 p-3">
                <form action="#" method="get">
                    <h1 class="h2 text-center">Stay up to date with us</h1>
                    <div class="input-group py-3">
                        <input name="email" type="text" class="form-control form-control-lg rounded-pill rounded-end" id="email" placeholder="Your Email" aria-label="Your Email">
                        <button class="btn btn-secondary text-white btn-lg rounded-pill rounded-start px-lg-4" type="submit">Subsribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Contact -->
