
@{
    ViewBag.Title = "MemberRegistration";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<link href="~/assets/css/multi-tier-form/form-wizard.css" rel="stylesheet" />
<link href="~/assets/custom-plugin/form-validation.css" rel="stylesheet" />
<style>
    .py-5 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .text-decoration-none {
        margin-bottom: 2%;
    }

    #wizard_div {
        margin-top: -65px;
    }
</style>


<section class="service-wrapper py-3">
    <div class="service-tag py-5 bg-secondary">
        <div class="col-md-12">
            <ul class="nav d-flex justify-content-center">
                <li class="nav-item mx-lg-4">
                    <p class=" text-light px-4 light-300">Registeration form</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="container py-5">
    <div class="container-fluid" id="wizard_div">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <div id="msform">
                        <p>Fill all form field to go to next step</p>
                        <ul id="progressbar">
                            <li class="step1 active" id="basic">
                                <strong>Basic</strong>
                            </li>
                            <li class="step2" id="contact"><strong>Contact</strong></li>
                            <li class="step3" id="address"><strong>Address</strong></li>
                            <li class="step4" id="occupation">
                                <strong>Occupation</strong>
                            </li>
                            <li class="step5" id="document"><strong>Documents</strong></li>
                            <li class="step6" id="payment"><strong>Payment</strong></li>
                            <li class="step7" id="confirm"><strong>Confirmation</strong></li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                 role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <!-- progressbar -->
                        <!-- step 1 basic information -->
                        <input type="hidden" value="9" id="MemberId" />
                        <form id="step1">
                            <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Basic Information:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 1 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 form-group">
                                            <label class="fieldlabels">
                                                FirstName:
                                            </label>
                                            <input type="text" name="FirstName"
                                                   id="FirstName"
                                                   placeholder="First Name"
                                                   class="form-control" />
                                        </div>
                                        <div class="col-sm-4 col-md-4 form-group">
                                            <label class="fieldlabels">
                                                MiddleName:
                                            </label>
                                            <input type="text" name="MiddleName"
                                                   id="MiddleName"
                                                   placeholder="Middle Name"
                                                   class="form-control"
                                                   autocomplete="off" />
                                        </div>
                                        <div class="col-sm-4 col-md-4 form-group">
                                            <label class="fieldlabels">
                                                Last Name:
                                            </label>
                                            <input type="text" name="LastName"
                                                   id="LastName"
                                                   class="form-control"
                                                   placeholder="Last Name" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Gender:
                                            </label>
                                            <select class="form-control" name="GenderId"
                                                    id="GenderId">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Date of Birth:
                                            </label>
                                            <input type="text" name="DateOfBirthBS"
                                                   placeholder="YYYY-MM-DD"
                                                   class="form-control"
                                                   autocomplete="off" id="DateOfBirthBS"
                                                   onkeypress="AllowForDate(event)"
                                                   oninput="AllowForDate(event)" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Citizenship Number:
                                            </label>
                                            <input type="text" class="form-control"
                                                   name="CitizenshipNumber"
                                                   id="CitizenshipNumber"
                                                   placeholder="CitizenshipNumber" />
                                        </div>

                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next" class="next action-button" value="Next Step" />
                        </form>

                        <!-- step 2 contact details -->
                        <form id="step2">
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Contact Details:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 2 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Mobile Number:
                                            </label>
                                            <input type="text" name="MobileNumber"
                                                   id="MobileNumber"
                                                   class="form-control"
                                                   placeholder="Mobile Number"
                                                   onkeypress="AllowNumberOnly(event)" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Email Address:
                                            </label>
                                            <input type="text" name="Email"
                                                   class="form-control"
                                                   id="Email"
                                                   placeholder="Email Address" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>

                        <!-- step 3 address details -->
                        <form id="step3">
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Address Details:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 3 - 6</h2>
                                        </div>
                                    </div>
                                    <h4 style="color:blueviolet">Permanent Address</h4><br />
                                    <div>
                                        <label class="fieldlabels">
                                            Is Outside Nepal ?
                                        </label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="PermanentIsOutsideNepal"
                                                       class="form-check-input"
                                                       id="PermanentRadio" value="true"> Yes
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="PermanentIsOutsideNepal"
                                                       class="form-check-input"
                                                       checked="checked"
                                                       id="PermanentRadio" value="false"> No
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row" id="permanentInsideNepalAddress">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Province:
                                            </label>
                                            <select class="form-control province"
                                                    name="PermanentProvinceId"
                                                    id="PermanentProvinceId">
                                                <option value="" selected="selected">
                                                    Select Province
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                District:
                                            </label>
                                            <select class="form-control"
                                                    name="PermanentDistrictId"
                                                    id="PermanentDistrictId">
                                                <option value="" selected="selected">
                                                    Select District
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Municipality/RM:
                                            </label>
                                            <select class="form-control"
                                                    name="PermanentMunicipalityTypeId"
                                                    id="PermanentMunicipalityTypeId">
                                                <option value="" selected="selected">
                                                    Select Type
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                RM/Municipality Name:
                                            </label>
                                            <input type="text"
                                                   id="PermanentMunicipality"
                                                   class="form-control"
                                                   name="PermanentMunicipality"
                                                   placeholder="RM/Municipality Name" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Ward Number:
                                            </label>
                                            <input type="text"
                                                   id="PermanentWardNumber"
                                                   name="PermanentWardNumber"
                                                   placeholder="Ward Number"
                                                   class="form-control"
                                                   onkeypress="AllowNumberOnly(event)" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Tole Name:
                                            </label>
                                            <input type="text" id="PermanentToleName"
                                            name="PermanentToleName" class="form-control"
                                            placeholder="Tole Name" />
                                        </div>
                                    </div>
                                    <div class="row" id="permanentOutsideNepalAddress">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Country:
                                            </label>
                                            <select class="form-control country"
                                                    name="PermanentCountryId"
                                                    id="PermanentCountryId">
                                                <option value="" selected="selected">
                                                    Select Country
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Address:
                                            </label>
                                            <input type="text" id="PermanentAddress"
                                                   class="form-control"
                                                   name="PermanentAddress"
                                                   placeholder="Address" />
                                        </div>
                                    </div>

                                    <h4 style="color:blueviolet">Temporary Address</h4><br />
                                    <div>
                                        <label class="fieldlabels">
                                            Is Outside Nepal ?
                                        </label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="TemporaryIsOutsideNepal"
                                                       class="form-check-input"
                                                       id="TempRadio" value="true"> Yes
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="TemporaryIsOutsideNepal"
                                                       class="form-check-input"
                                                       checked="checked"
                                                       id="TempRadio" value="false"> No
                                            </label>
                                        </div>
                                    </div><br />

                                    <div class="row" id="tempInsideNepalAddress">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Province:
                                            </label>
                                            <select class="form-control province"
                                                    id="TemporaryProvinceId"
                                                    name="TemporaryProvinceId">
                                                <option value="" selected="selected">
                                                    Select Province
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                District:
                                            </label>
                                            <select class="form-control"
                                                    name="TemporaryDistrictId"
                                                    id="TemporaryDistrictId">
                                                <option value="" selected="selected">
                                                    Select District
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Municipality/RM :
                                            </label>
                                            <select class="form-control"
                                                    name="TemporaryMunicipalityTypeId"
                                                    id="TemporaryMunicipalityTypeId">
                                                <option value="" selected="selected">
                                                    Select Type
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                RM/Municipality Name:
                                            </label>
                                            <input type="text"
                                              id="TemporaryMunicipality" class="form-control"
                                                   name="TemporaryMunicipality"
                                                   placeholder="RM/Municipality" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Ward Number:
                                            </label>
                                            <input type="text" name="TemporaryWardNumber"
                                               id="TemporaryWardNumber" class="form-control"
                                                   placeholder="Ward Number"
                                                   onkeypress="AllowNumberOnly(event)" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Tole Name:
                                            </label>
                                            <input type="text" name="TemporaryToleName"
                                            class="form-control" id="TemporaryToleName"
                                                   placeholder="Tole Name" />
                                        </div>
                                    </div>
                                    <div class="row" id="tempOutsideNepalAddress">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Country:
                                            </label>
                                            <select class="form-control country"
                                                    name="TemporaryCountryId"
                                                    id="TemporaryCountryId">
                                                <option value="" selected="selected">
                                                    Select Country
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Address:
                                            </label>
                                            <input type="text" class="form-control"
                                             name="TemporaryAddress" id="TemporaryAddress"
                                                   placeholder="Address" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>

                        <!-- step 4 occupational information -->
                        <form id="step4">
                            <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Occupation Details :</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 4 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Occupation :
                                            </label>
                                            <select class="form-control" name="OccupationId"
                                                    id="OccupationId">
                                                <option value="">Occupation</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group"
                                             id="occupationDiv">
                                            <label class="fieldlabels">
                                                Other Occupation:
                                            </label>
                                            <input type="text" id="OtherOccupationRemarks"
                                                   class="form-control"
                                               name="OtherOccupationRemarks"
                                                   placeholder="Occupation Remarks" />
                                        </div>

                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Intersted In :
                                            </label>
                                            <select class="form-control" name="MemberFieldId"
                                                    id="MemberFieldId">
                                                <option value="">Interested Field</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>

                        <!-- step 5 uplaod document -->
                        <form id="step5">
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Upload Document:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 5 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Upload Your Photo:
                                            </label>
                                            <input type="file" name="MemberImage" 
                                                 id="MemberImage"
                                                   class="form-control MemberPhoto"/>
                                            <input type="hidden" name="MemberPhoto" 
                                                id="MemberPhoto" />
                                        </div>

                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Citizenship Front:
                                            </label>
                                            <input type="file"
                                                   class="form-control CitizenshipFront"
                                             id="CitizenshipFrontImage"
                                                   name="CitizenshipFrontImage" />
                                            <input type="hidden" name="CitizenshipFront" 
                                                id="CitizenshipFront" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Citizenship Back:
                                            </label>
                                            <input type="file" name="CitizenshipBackImage" 
                                             class="form-control CitizenshipBack"
                                                   id="CitizenshipBackImage"/>
                                            <input type="hidden" name="CitizenshipBack"
                                                   id="CitizenshipBack"/>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>

                        <!-- step 6 payment -->
                        <form id="step6">
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Payment:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 6 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Amount:
                                            </label>
                                            <input type="text" name="Amount"
                                                   id="Amount"
                                                   placeholder="Amount"
                                                   onkeypress="AllowPositiveNumber(event)" />
                                        </div>
                                        <div class="col-sm-12 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Upload Payment voucher / Online payment proof:
                                            </label>
                                            <input type="file" name="VoucherImageFile" 
                                              class="form-control VoucherImage"  
                                              id="VoucherImageFile"/>
                                            <input type="text" name="VoucherImage"
                                                   id="VoucherImage" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>
                        <form id="step7">
                            <h2 class="purple-text text-center">
                                <strong>
                                    SUCCESS !
                                </strong>
                            </h2> <br>
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <img src="https://i.imgur.com/GwStPmg.png"
                                         class="fit-image">
                                </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">
                                        You Have
                                        Successfully Signed Up
                                    </h5>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/web/back-end/jquery-ui")
@Scripts.Render("~/web/back-end/message")

<script src="~/assets/custom/member-registration-dataload.js"></script>
<script src="~/assets/custom/member-registration-form-validation.js"></script>
<script src="~/assets/custom/custom.js"></script>


<script>
    $(document).ready(function () {
        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("#msform form ").length;
        setProgressBar(current);
        loadGenderList();
        loadFieldData();
       
        $("#permanentOutsideNepalAddress").hide();
        $("#tempOutsideNepalAddress").hide();

        $(".next").click(function () {
            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            var test = formValidationAndSubmission(current);
            if (test == false)
                return false;
            var formUrl = "/MemberRegister/PostPersonalInfo";
            var formdata = $("#step1").serialize();
            if (current == 2) {
                formUrl = "/MemberRegister/ContactInfo";
                formdata = $("#step2").serialize();
            }
            else if (current == 3) {
                formUrl = "/MemberRegister/AddModifyAddress";
                formdata = $("#step3").serialize();
            }
            else if (current == 4) {
                formUrl = "/MemberRegister/MemberOccupation";
                formdata = $("#step4").serialize();
            }
            else if (current == 5) {
                formUrl = "/MemberRegister/MemberDocument";
                formdata = $("#step5").serialize();
            }
            formdata = formdata + '&MemberId=' + $("#MemberId").val()
            $.ajax({
                type: "post",
                url: formUrl,
                data: formdata,
                success: function (response) {
                    debugger;
                    if (response.status == "success") {
                        //Add Class Active
                        if (response.successData > 0) {
                            $("#MemberId").val(response.successData)
                            $("#progressbar li").eq($("form").index(next_fs)).addClass("active");
                            //show the next fieldset
                            next_fs.show();
                            //hide the current fieldset with style
                            current_fs.animate({ opacity: 0 }, {
                                step: function (now) {
                                    // for making fielset appear animation
                                    opacity = 1 - now;
                                    current_fs.css({
                                        'display': 'none',
                                        'position': 'relative'
                                    });
                                    next_fs.css({ 'opacity': opacity });
                                },
                                duration: 500
                            });
                            setProgressBar(++current);
                            loadData(current);
                        }
                        else {
                            ShowErrorMessage("Something went wrong....!!");
                        }
                    }
                    else if (response.status == "error") {
                        MapServerSideError(response);
                    }
                },
                error: function (err) {
                }
            });

        });
        $(".previous").click(function () {
            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("form").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(--current);
            loadData(current);
        });

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
        }

        $(".submit").click(function () {
            return false;
        })
    });
    function MapServerSideError(response) {
        console.log(response);
        $.each(response.errorData, function (index, row) {
            var idName = "#" + row.Key;
            var element = $(idName);
            removeErrorClasses(element);
            if (row.Key != null && row.Value != null) {
                AddErrorClasses(element)
                AddErrorMessage(element, row.Value);
            }
        })
    }
</script>








